body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 25px;
}

.btn-hold {
    color: white;
    background: rgb(235, 0, 0);
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-color: solid black;
}

.img-monkey {
    display: block;
    opacity: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 50%;
    transition: opacity 0.5s;
}

.btn-hold:active + .img-monkey {
    opacity: 1;
    border-color: rgb(100, 100, 100);
}
.btn-hold:active {
    border-color: rgb(100, 100, 100);
}